@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color01: #040D12;
    --color02: #183D3D;
    --color03: #5C8374;
    --color04: #93B1A6;
    font-family: 'Times New Roman', serif;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: wheat;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}